@import "tailwindcss";

@theme {
  --color-yellow-50: #FBB417;
  --color-yellow-100: #FBB417;
  --color-yellow-200: #FBB417;
  --color-yellow-300: #FBB417;
  --color-yellow-400: #FBB417;
  --color-yellow-500: #FBB417;
  --color-yellow-600: #FBB417;
  --color-yellow-700: #FBB417;
  --color-yellow-800: #FBB417;
  --color-yellow-900: #FBB417;
  --color-yellow-950: #FBB417;
}
