@import "tailwindcss";

@theme {
  --color-white: #FBFBF9;

  --color-neutral-50: #FBFBF9;
  --color-neutral-100: #F6F5EF;
  --color-neutral-200: #EDEDE7;
  --color-neutral-300: #E6E6E6;
  --color-neutral-400: #CAC9C2;
  --color-neutral-500: #AAA9A1;
  --color-neutral-600: #7A796F;
  --color-neutral-700: #5B5A52;
  --color-neutral-800: #3D3C36;
  --color-neutral-900: #26251F;
  --color-neutral-950: #171611;

  --color-yellow-50: #EAF9FD;
  --color-yellow-100: #D4F3FA;
  --color-yellow-200: #A8E7F5;
  --color-yellow-300: #73DAF0;
  --color-yellow-400: #22CCEE;
  --color-yellow-500: #1CB6D4;
  --color-yellow-600: #1798B2;
  --color-yellow-700: #117B90;
  --color-yellow-800: #0D5D6D;
  --color-yellow-900: #083F4B;
  --color-yellow-950: #052A32;
}
