.git
.gitignore
.vscode
.idea
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
client/node_modules
client/dist
server/venv
server/db.sqlite3
server/staticfiles
server/media
server/storage/workspaces
server/storage/users
server/storage/avatars
server/storage/previews
